*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(102, 54, 125);
}

#login, #sign-up, #output{
    background-image: url(../img/overlay-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.container{
background-color: rgb(193, 188, 221);
}


.login-btn, .sign-btn, .sign-btn2, .logout-btn, .sign-in {
    animation: wiggle 2s linear infinite;
}

  /* Keyframes */
@keyframes wiggle {
    0%, 7% {
    transform: rotateZ(0);
    }
    15% {
    transform: rotateZ(-15deg);
    }
    20% {
    transform: rotateZ(10deg);
    }
    25% {
    transform: rotateZ(-10deg);
    }
    30% {
    transform: rotateZ(6deg);
    }
    35% {
    transform: rotateZ(-4deg);
    }
    40%, 100% {
    transform: rotateZ(0);
    }
}

.login-btn , .sign-btn, .sign-btn2, .logout-btn, .sign-in{

    background: rgb(102, 54, 125);
    border: none;
    border-top: 3px solid rgb(167, 114, 200);
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
    border-radius: 2px;
}

span{
    color: rgb(102, 54, 125);
}


